---
layout: options
---
.tiles
  %section.options.grid-items-lines
    - data.doco.each do |doc|
      = link_to base_url("/docs/#{doc['filename']}"), class: 'grid-item' do
        = image_tag doc["logo"]
        %h1= doc['title']
        %p= doc['lede']