!!!
%html
  %head
    = partial "meta"
    %script{src: "https://cdn.rawgit.com/knsv/mermaid/0.3.0/dist/mermaid.full.js"}
  %body
    .alt
      = partial "header"
    .content
      = partial "breadcrumbs"
      %article
        = yield
    = partial "footer"