- links = ['api', 'ensemblejs', 'ensemblejs-client']
- if docs.kind_of? Hash
  - docs.each do |doc|
    - key += "_#{doc.first}"
    - url = "#{path}#{doc.first}/about"
    - extra_class = ""
    - if breadcrumbs.first == doc.first
      - breadcrumbs.shift
      - unless links.include? doc.first
        - extra_class = "expanded"
        - url = "void()"
    - else
      - unless links.include? doc.first
        - extra_class = "collapsed"
    %a{href: url, class: "#{extra_class}", data: {key: key.gsub('.', '_')}}
      .folder.item{class: "depth_#{depth} #{extra_class}"}
        .name
          = doc.first
          - if breadcrumbs.first == "about"
            - breadcrumbs.shift
            .arrow ►
    = partial 'docs', {locals: {docs: doc.last, path: "#{path}#{doc.first}/", depth: depth + 1, breadcrumbs: breadcrumbs, key: key}}
    - key = key.gsub("_#{doc.first}", "")
- else
  .submenu{:class => key.gsub('.', '_')}
    - docs.each do |doc|
      - if breadcrumbs.first == doc[:key]
        - breadcrumbs.shift
        .page.item.expanded{class: "depth_#{depth}"}
          .name
            = "#{doc[:name]}"
            .arrow ►
      - else
        %a{href: "#{path}#{doc[:key]}"}
          .page.item{class: "depth_#{depth}"}
            .name= "#{doc[:name]}"
