%header
  = link_to base_url("/") do
    .logo
      = image_tag('logo.png')
  %nav
    %ul
      %li= link_to "Games", base_url("games")
      %li= link_to "Guides", base_url("docs")
  .call-to-action
    = link_to 'Get Ensemble', base_url('get-ensemble'), :class => 'button'