%header
  = link_to "/" do
    .logo
      = image_tag('logo.png')
  %nav
    %ul
      %li
        = link_to "About Ensemble", "/about"
      %li
        = link_to "Games", "/games"
      %li
        = link_to "Documentation", "/docs"
      %li
        = link_to "Tutorials", "/tuts"
  .call-to-action
    %button
      Get Started