%header
  = link_to base_url("") do
    .logo
      = image_tag('logo.png')
  %nav
    %ul
      %li= link_to "Tutorials", "/website/docs/tutorials/about.html"
      %li= link_to "Guides", "/website/docs/guides/about.html"
      %li= link_to "API", "/website/docs/api/about.html"
  .call-to-action
    = link_to 'Get Ensemble', "/website/get-ensemble.html", :class => 'button'