%header
  = link_to base_url("/") do
    .logo
      = image_tag('logo.png')
  %nav
    %ul
      %li
        = link_to "Example Games", base_url("games")
      %li
        = link_to "Documentation", base_url("docs")
      %li
        = link_to "Tutorials", base_url("tuts")
  .call-to-action
    %button
      Get Started